:root {
  --primaryColor: #003b6d;
  --secondaryColor: #bdbdbd;
  --tertiaryColor: #f5f5f5;
  --quaternaryColor: #000080;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --greyColor: #808080;
  --bgColor: #f5f5f5;
  --inputColor: #333;
  --inputColorLight: #666;
  --linkColor: #0000ff;
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallerFontSize: 0.75rem;
}

.inputText .formCheckBox,
.inputBlock .formCheckBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
  transition: 0.35s ease-in-out;
}
.inputText .formCheckBox .icon,
.inputBlock .formCheckBox .icon {
  position: absolute;
  font-size: 20px;
  color: var(--inputColorLight);
  transition: 0.35s ease-in-out;
  left: 10px;
}
.inputText .formCheckBox .label,
.inputBlock .formCheckBox .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--secondaryColor);
  border-radius: 20px;
  padding: 1rem 1rem 1rem 3.5rem;
  width: 350px;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  outline: none;
}
.inputText .formCheckBox .label h3,
.inputBlock .formCheckBox .label h3 {
  font-weight: 555;
  font-size: 13.5px;
  color: var(--inputColor);
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  outline: none;
}
.inputText .formCheckBox .label #customer,
.inputBlock .formCheckBox .label #customer {
  position: absolute;
  font-size: 20px;
  color: var(--inputColorLight);
  transition: 0.35s ease-in-out;
  right: 10px;
  cursor: pointer;
  accent-color: var(--primaryColor);
}
.inputText .inputDiv,
.inputBlock .inputDiv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv label,
.inputBlock .inputDiv label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: var(--inputColorLight);
  font-size: 13.5px;
  font-weight: 555;
  transition: 0.35s ease-in-out;
  pointer-events: none;
  opacity: 1;
}
.inputText .inputDiv .icon,
.inputBlock .inputDiv .icon {
  position: absolute;
  font-size: 20px;
  color: var(--inputColorLight);
  transition: 0.35s ease-in-out;
  left: 10px;
}
.inputText .inputDiv .eye,
.inputBlock .inputDiv .eye {
  position: absolute;
  font-size: 20px;
  color: var(--inputColorLight);
  transition: 0.35s ease-in-out;
  right: 10px;
}
.inputText .inputDiv:hover .icon,
.inputBlock .inputDiv:hover .icon {
  color: var(--primaryColor);
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv #inputField,
.inputText .inputDiv #userName,
.inputText .inputDiv #selectLGA,
.inputText .inputDiv #detailedAddress,
.inputBlock .inputDiv #inputField,
.inputBlock .inputDiv #userName,
.inputBlock .inputDiv #selectLGA,
.inputBlock .inputDiv #detailedAddress {
  font-weight: 555;
  font-size: 12px;
  padding: 1rem 3.5rem;
  color: var(--inputColor);
  border: 2px solid var(--secondaryColor);
  border-radius: 20px;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  outline: none;
  width: 350px;
}
.inputText .inputDiv #inputField::-moz-placeholder, .inputText .inputDiv #userName::-moz-placeholder, .inputText .inputDiv #selectLGA::-moz-placeholder, .inputText .inputDiv #detailedAddress::-moz-placeholder, .inputBlock .inputDiv #inputField::-moz-placeholder, .inputBlock .inputDiv #userName::-moz-placeholder, .inputBlock .inputDiv #selectLGA::-moz-placeholder, .inputBlock .inputDiv #detailedAddress::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  font-size: 13.5px;
}
.inputText .inputDiv #inputField::placeholder,
.inputText .inputDiv #userName::placeholder,
.inputText .inputDiv #selectLGA::placeholder,
.inputText .inputDiv #detailedAddress::placeholder,
.inputBlock .inputDiv #inputField::placeholder,
.inputBlock .inputDiv #userName::placeholder,
.inputBlock .inputDiv #selectLGA::placeholder,
.inputBlock .inputDiv #detailedAddress::placeholder {
  opacity: 0;
  transition: 0.55s ease-in-out;
  font-size: 13.5px;
}
.inputText .inputDiv #inputField:hover,
.inputText .inputDiv #userName:hover,
.inputText .inputDiv #selectLGA:hover,
.inputText .inputDiv #detailedAddress:hover,
.inputBlock .inputDiv #inputField:hover,
.inputBlock .inputDiv #userName:hover,
.inputBlock .inputDiv #selectLGA:hover,
.inputBlock .inputDiv #detailedAddress:hover {
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv #inputField:hover ~ label,
.inputText .inputDiv #inputField:hover ~ .eye,
.inputText .inputDiv #userName:hover ~ label,
.inputText .inputDiv #userName:hover ~ .eye,
.inputText .inputDiv #selectLGA:hover ~ label,
.inputText .inputDiv #selectLGA:hover ~ .eye,
.inputText .inputDiv #detailedAddress:hover ~ label,
.inputText .inputDiv #detailedAddress:hover ~ .eye,
.inputBlock .inputDiv #inputField:hover ~ label,
.inputBlock .inputDiv #inputField:hover ~ .eye,
.inputBlock .inputDiv #userName:hover ~ label,
.inputBlock .inputDiv #userName:hover ~ .eye,
.inputBlock .inputDiv #selectLGA:hover ~ label,
.inputBlock .inputDiv #selectLGA:hover ~ .eye,
.inputBlock .inputDiv #detailedAddress:hover ~ label,
.inputBlock .inputDiv #detailedAddress:hover ~ .eye {
  color: var(--primaryColor);
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv #inputField:hover::-moz-placeholder, .inputText .inputDiv #userName:hover::-moz-placeholder, .inputText .inputDiv #selectLGA:hover::-moz-placeholder, .inputText .inputDiv #detailedAddress:hover::-moz-placeholder, .inputBlock .inputDiv #inputField:hover::-moz-placeholder, .inputBlock .inputDiv #userName:hover::-moz-placeholder, .inputBlock .inputDiv #selectLGA:hover::-moz-placeholder, .inputBlock .inputDiv #detailedAddress:hover::-moz-placeholder {
  color: var(--primaryColor);
  -moz-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.inputText .inputDiv #inputField:hover::placeholder,
.inputText .inputDiv #userName:hover::placeholder,
.inputText .inputDiv #selectLGA:hover::placeholder,
.inputText .inputDiv #detailedAddress:hover::placeholder,
.inputBlock .inputDiv #inputField:hover::placeholder,
.inputBlock .inputDiv #userName:hover::placeholder,
.inputBlock .inputDiv #selectLGA:hover::placeholder,
.inputBlock .inputDiv #detailedAddress:hover::placeholder {
  color: var(--primaryColor);
  transition: 0.55s ease-in-out;
}
.inputText .inputDiv #inputField:focus, .inputText .inputDiv #inputField:valid,
.inputText .inputDiv #userName:focus,
.inputText .inputDiv #userName:valid,
.inputText .inputDiv #selectLGA:focus,
.inputText .inputDiv #selectLGA:valid,
.inputText .inputDiv #detailedAddress:focus,
.inputText .inputDiv #detailedAddress:valid,
.inputBlock .inputDiv #inputField:focus,
.inputBlock .inputDiv #inputField:valid,
.inputBlock .inputDiv #userName:focus,
.inputBlock .inputDiv #userName:valid,
.inputBlock .inputDiv #selectLGA:focus,
.inputBlock .inputDiv #selectLGA:valid,
.inputBlock .inputDiv #detailedAddress:focus,
.inputBlock .inputDiv #detailedAddress:valid {
  border: 2px solid var(--primaryColor);
  color: var(--inputColor);
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv #inputField:focus ~ label, .inputText .inputDiv #inputField:valid ~ label,
.inputText .inputDiv #userName:focus ~ label,
.inputText .inputDiv #userName:valid ~ label,
.inputText .inputDiv #selectLGA:focus ~ label,
.inputText .inputDiv #selectLGA:valid ~ label,
.inputText .inputDiv #detailedAddress:focus ~ label,
.inputText .inputDiv #detailedAddress:valid ~ label,
.inputBlock .inputDiv #inputField:focus ~ label,
.inputBlock .inputDiv #inputField:valid ~ label,
.inputBlock .inputDiv #userName:focus ~ label,
.inputBlock .inputDiv #userName:valid ~ label,
.inputBlock .inputDiv #selectLGA:focus ~ label,
.inputBlock .inputDiv #selectLGA:valid ~ label,
.inputBlock .inputDiv #detailedAddress:focus ~ label,
.inputBlock .inputDiv #detailedAddress:valid ~ label {
  top: 0;
  left: 20px;
  color: var(--primaryColor);
  font-size: 11px;
  transition: 0.35s ease-in-out;
  background-color: var(--whiteColor);
  padding: 0 5px;
  opacity: 1;
}
.inputText .inputDiv #inputField:focus ~ .icon, .inputText .inputDiv #inputField:valid ~ .icon,
.inputText .inputDiv #userName:focus ~ .icon,
.inputText .inputDiv #userName:valid ~ .icon,
.inputText .inputDiv #selectLGA:focus ~ .icon,
.inputText .inputDiv #selectLGA:valid ~ .icon,
.inputText .inputDiv #detailedAddress:focus ~ .icon,
.inputText .inputDiv #detailedAddress:valid ~ .icon,
.inputBlock .inputDiv #inputField:focus ~ .icon,
.inputBlock .inputDiv #inputField:valid ~ .icon,
.inputBlock .inputDiv #userName:focus ~ .icon,
.inputBlock .inputDiv #userName:valid ~ .icon,
.inputBlock .inputDiv #selectLGA:focus ~ .icon,
.inputBlock .inputDiv #selectLGA:valid ~ .icon,
.inputBlock .inputDiv #detailedAddress:focus ~ .icon,
.inputBlock .inputDiv #detailedAddress:valid ~ .icon {
  color: var(--primaryColor);
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv #inputField:focus-visible,
.inputText .inputDiv #userName:focus-visible,
.inputText .inputDiv #selectLGA:focus-visible,
.inputText .inputDiv #detailedAddress:focus-visible,
.inputBlock .inputDiv #inputField:focus-visible,
.inputBlock .inputDiv #userName:focus-visible,
.inputBlock .inputDiv #selectLGA:focus-visible,
.inputBlock .inputDiv #detailedAddress:focus-visible {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
  font-weight: 555;
  transition: 0.35s ease-in-out;
}
.inputText .inputDiv #inputField:focus-visible::-moz-placeholder, .inputText .inputDiv #userName:focus-visible::-moz-placeholder, .inputText .inputDiv #selectLGA:focus-visible::-moz-placeholder, .inputText .inputDiv #detailedAddress:focus-visible::-moz-placeholder, .inputBlock .inputDiv #inputField:focus-visible::-moz-placeholder, .inputBlock .inputDiv #userName:focus-visible::-moz-placeholder, .inputBlock .inputDiv #selectLGA:focus-visible::-moz-placeholder, .inputBlock .inputDiv #detailedAddress:focus-visible::-moz-placeholder {
  opacity: 1;
  -moz-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  color: var(--inputColorLight);
  font-size: 12px;
}
.inputText .inputDiv #inputField:focus-visible::placeholder,
.inputText .inputDiv #userName:focus-visible::placeholder,
.inputText .inputDiv #selectLGA:focus-visible::placeholder,
.inputText .inputDiv #detailedAddress:focus-visible::placeholder,
.inputBlock .inputDiv #inputField:focus-visible::placeholder,
.inputBlock .inputDiv #userName:focus-visible::placeholder,
.inputBlock .inputDiv #selectLGA:focus-visible::placeholder,
.inputBlock .inputDiv #detailedAddress:focus-visible::placeholder {
  opacity: 1;
  transition: 0.55s ease-in-out;
  color: var(--inputColorLight);
  font-size: 12px;
}
/*# sourceMappingURL=newLocation.css.map */