.billContent {
  display: flex;

  .billContainer {
    flex: 5.5;
    padding: 12px 0px 0px;

    .billWidgets {
      display: flex;
      justify-content: space-between;
      margin-inline: 20px;
      gap: 20px;
    }
  }
}

.billTable {
  padding: 0px 22px;
  margin: 20px 0px;
}

.gridTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--secondaryColor);
  transition: 0.35s ease-in-out;
  padding-bottom: 7px;
  padding-inline: 12px;
  margin-bottom: 12px;

  .gridLeftHeading {
    display: flex;
    align-items: center;
    gap: 7px;
    transition: 0.35s ease-in-out;
  }
}

.usageIcon {
  transition: 0.35s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 22px;
  width: 22px;
  color: var(--primaryColor);

  .donut {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.35s ease-in-out;
  }

  .voltage {
    height: 12px;
    width: 12px;
    position: relative;
    transition: 0.35s ease-in-out;
  }
}

.gridRightHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: 0.35s ease-in-out;

  .barDate {
    position: block;
    transition: 0.35s ease-in-out;
    color: var(--secondaryColor);
    font-size: 10px;
    font-weight: 555;
    margin-left: -2px;
    cursor: pointer;

    &:hover {
      color: var(--primaryColor);
      transition: 0.35s ease-in-out;
    }
  }

  .optionIcon {
    position: block;
    transition: 0.35s ease-in-out;
    color: var(--secondaryColor);
    font-size: 13.5px;
    font-weight: 2000;
    cursor: pointer;

    &:hover {
      color: var(--primaryColor);
      transition: 0.35s ease-in-out;
    }
  }
}

.midContent {
  .midContentHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.35s ease-in-out;
    margin-inline: 55px;
    margin-top: 12px;

    .midContentHeader {
      &:first-child {
        margin-bottom: -55px;
        color: var(--primaryColor);
      }
    }
  }
}
